!!! 5
%html
%head
  %meta{:charset => "utf-8"}
  %title
    = APP_NAME
  %link{:href => "bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}
  %link{:href => "css/application.css", :rel => "stylesheet"}
  %script{:src => "js/jquery-2.0.3.min.js"}
  = yield_content :head
%body
  .container
    .page-header
      %h1
        %a{:href => APP_HOME}
          = APP_NAME
        %small
          = APP_DESCRIPTION
    - if flash[:notice]
      .text-error
        = flash[:notice]
    .row
      = yield
  .page-footer
    %p
      = APP_COPYRIGHT
