%form{:action => "search", :method => "get"}
  .input-append
    %input{:type => "text", :class => "span4", :name => "q", :value => "#{h params[:q]}"}
    %button{:type => "submit", :class => "btn"} Search
.span3
  %h4 イベントを頻繁に開催しているグループ
  %table.table.table-bordered.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @communities.each do |community|
        %tr
          %td
            = h community[0]
          %td
            = "#{community[1]}件"
  %h4 イベントを頻繁に開催している人
  %table.table.table-bordered.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @organizers.each do |organizer|
        %tr
          %td
            = h organizer[0]
          %td
            = "#{organizer[1]}件"
.span8
  %h4
    検索
    %small
      = "#{@result_size} 件中 #{@current_page} ページ目"
  %table.table.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @paged_events.each do |event|
        %tr
          %td
            .event-title
              = title_escape(event[:title], @keyword)
            .event-time
              = event[:datetime].strftime("%Y-%m-%d %R")
            .event-summary
              = summary_escape(event[:summary], @keyword)
          %td
            %form{:action => "good?q=#{uri_escape params[:q]}", :method => "post"}
              %input{:type => "hidden", :name => "key", :value => event[:_key]}
              %button{:type => "submit", :class => "btn btn-primary"}
                = event[:good]
  .pagination.pagination-small.pagination-centered
    %ul
      - if @current_page > 1
        %li
          %a{:href => "./search?#{uri_escape(query_params params)}&page=1"}
            &laquo;最初
        %li
          %a{:href => "./search?#{uri_escape(query_params params)}&page=#{@current_page - 1}"}
            &laquo;前
      - else
        %li
          %a
            &laquo;最初
        %li
          %a
            &laquo;前
      %li
        %a
          = "#{@current_page} / #{@last_page}"
      - if @current_page < @last_page
        %li
          %a{:href => "./search?#{uri_escape(query_params params)}&page=#{@current_page + 1}"}
            次&raquo;
        %li
          %a{:href => "./search?#{uri_escape(query_params params)}&page=#{@last_page}"}
            最後&raquo;
      - else
        %li
          %a
            次&raquo;
        %li
          %a
            最後&raquo;
