<form action="search" method="get">
  <div class="input-append">
    <input type="text" class="span4" name="q" value="<%= h params[:q] %>">
    <button type="submit" class="btn">Search</button>
  </div>
</form>
<div class="span3">
  <h4>このイベントで参加が多かったチーム</h4>
  <table class="table table-bordered table-striped">
    <colgroup>
      <col>
      <col width="80">
    </colgroup>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= h team[0] %></td>
          <td><%= team[1] %>件</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <h4>このイベントで開催が多かった人</h4>
  <table class="table table-bordered table-striped">
    <colgroup>
      <col>
      <col width="80">
    </colgroup>
    <tbody>
      <% @host_persons.each do |host_person| %>
        <tr>
          <td><%= h host_person[0] %></td>
          <td><%= host_person[1] %>件</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="span8">
  <h4>検索<small>　<%= @result_size %> 件中　<%= @current_page %> ページ目</small></h4>
  <table class="table table-striped">
    <colgroup>
      <col>
      <col width="80">
    </colgroup>
    <tbody>
      <% @paged_events.each do |event| %>
        <tr>
          <td>
            <div class="event-summary"><%= summary_escape(event[:summary], @keyword) %></div>
            <div class="event-time"><%= event[:datetime].strftime("%Y-%m-%d %R") %></div>
            <div class="event-result"><%= description_escape(event[:result], @keyword) %></div>
          </td>
          <td>
            <form action="good?q=<%= uri_escape params[:q] %>" method="post">
              <input type="hidden" name="key" value="<%= event[:_key] %>">
              <button type="submit" class="btn btn-primary"><%= event[:good] %></button>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination pagination-small pagination-centered">
    <ul>
      <% if @current_page > 1 %>
        <li><a href="./search?<%= uri_escape(query_params params) %>&page=1">«最初</a></li>
        <li><a href="./search?<%= uri_escape(query_params params) %>&page=<%= @current_page - 1 %>">«前</a></li>
      <% else %>
        <li><a>«最初</a></li>
        <li><a>«前</a></li>
      <% end %>
      <li><a><%= @current_page %> / <%= @last_page %></a></li>
      <% if @current_page < @last_page %>
        <li><a href="./search?<%= uri_escape(query_params params) %>&page=<%= @current_page + 1 %>">次»</a></li>
        <li><a href="./search?<%= uri_escape(query_params params) %>&page=<%= @last_page %>">最後»</a></li>
      <% else %>
        <li><a>次»</a></li>
        <li><a>最後»</a></li>
      <% end %>
    </ul>
  </div>
</div>
