%form{:action => "search", :method => "get"}
  .input-append
    %input{:type => "text", :class => "span4", :name => "q", :value => "#{h params[:q]}"}
    %button{:type => "submit", :class => "btn"} Search
.span3
  %h4 イベントを頻繁に開催しているグループ
  %table.table.table-bordered.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @top_communities.each do |community|
        %tr
          %td
            = h community[0]
          %td
            = "#{community[1]}件"
  %h4 イベントを頻繁に開催している人
  %table.table.table-bordered.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @top_organizers.each do |organizer|
        %tr
          %td
            = h organizer[0]
          %td
            = "#{organizer[1]}件"
.span8
  %h4
    検索
    %small
      = "#{@events.size} 件 #{@paged_events.current_page} ページ目"
  %table.table.table-striped
    %colgroup
      %col
      %col{:width => "80"}
    %tbody
      - @paged_events.each do |event|
        %tr
          %td
            .event-title
              = title_escape(event[:title], @keywords)
            .event-time
              = event[:datetime].strftime("%Y-%m-%d %R")
            .event-summary
              = summary_escape(event[:summary], @keywords)
          %td
            %form{:action => "good?q=#{escape_uri(params[:q])}", :method => "post"}
              %input{:type => "hidden", :name => "key", :value => event[:_key]}
              %button{:type => "submit", :class => "btn btn-primary"}
                = event[:vote]
  .pagination.pagination-small.pagination-centered
    %ul
      - if @paged_events.first_page?
        %li
          %a
            &laquo;最初
        %li
          %a
            &laquo;前
      - else
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=1"}
            &laquo;最初
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@paged_events.current_page - 1}"}
            &laquo;前
      %li
        %a
          = "#{@paged_events.current_page} / #{@paged_events.last_page}"
      - if @paged_events.last_page?
        %li
          %a
            次&raquo;
        %li
          %a
            最後&raquo;
      - else
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@paged_events.current_page + 1}"}
            次&raquo;
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@paged_events.last_page}"}
            最後&raquo;
