.col-md-4
  .search-field
    %form{:action => "search", :method => "get"}
      .input-append
        .col-md-9
          %input{:type => "text" , :class => "form-control", :name => "q", :value => "#{h params[:q]}"}
        %button{:type => "submit", :class => "btn btn-default btn-sm"} Search
  %h4 イベントを頻繁に開催しているグループ
  %table.table.table-bordered.table-striped
    %colgroup
      %col.col-sm-9
      %col
    %tbody
      - @top_communities.each do |community|
        %tr
          %td
            = h community[0]
          %td
            = "#{community[1]}件"
  %h4 イベントを頻繁に開催している人
  %table.table.table-bordered.table-striped
    %colgroup
      %col.col-sm-9
      %col
    %tbody
      - @top_organizers.each do |organizer|
        %tr
          %td
            = h organizer[0]
          %td
            = "#{organizer[1]}件"
.col-md-8
  %h4
    検索
    %small
      = "#{@events.size} 件 #{@paged_events.current_page} ページ目"
  %table.table.table-striped
    %colgroup
      %col.col-sm-9
      %col
    %tbody
      - @paged_events.each do |event|
        %tr
          %td
            .event-title
              = snippet_title(event, @keywords)
            .event-time
              = event[:datetime].strftime("%Y-%m-%d %R")
            .event-summary
              = snippet_summary(event, @keywords)
          %td
            .vote
              %input{:type => "hidden", :name => "event_id", :value => event[:_key]}
                .btn-group
                  %button.up_vote.btn.btn-default.btn-sm
                    %span.glyphicon.glyphicon-thumbs-up
                  %button.btn.btn-default.btn-sm
                    %span
                      = "#{event[:vote]} pt"
                  %button.down_vote.btn.btn-default.btn-sm
                    %span.glyphicon.glyphicon-thumbs-down
  .text-center
    %ul.pagination.pagination-centered
      - if @paged_events.first_page?
        %li
          %a
            &laquo;最初
        %li
          %a
            &laquo;前
      - else
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=1"}
            &laquo;最初
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@paged_events.current_page - 1}"}
            &laquo;前
      %li
        %a
          = "#{@paged_events.current_page} / #{@events.last_page}"
      - if @paged_events.current_page == @events.last_page
        %li
          %a
            次&raquo;
        %li
          %a
            最後&raquo;
      - else
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@paged_events.current_page + 1}"}
            次&raquo;
        %li
          %a{:href => "./search?#{escape_query_params(params)}&page=#{@events.last_page}"}
            最後&raquo;
